<div class="container">
	<h2 id="title">ui-d3-charts</h2>

	<p>
		Includes the following chart components:
	</p>
	<ul>
		<li><code>ui-bullet-chart</code></li>
		<li><code>ui-bar-chart</code></li>
		<li><code>ui-tree-chart</code></li>
		<li><code>ui-arc-chart</code></li>
		<li><code>ui-pie-chart</code></li>
	</ul>

	<h3>ui-bullet-chart</h3>
	{{ui-bullet-chart}}

	<h3>ui-bar-chart</h3>

	{{ui-bar-chart}}

	<h3>ui-tree-chart</h3>
	{{ui-tree-chart}}

	<h3>ui-arc-chart</h3>
	{{ui-arc-tween}}
</div>